

<!--<div id="youtube" *ngIf="loader===false">-->


<div id="youtube" >
  <div class="row">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="search..." [(ngModel)]="searchModel.searchString" />
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit" (click)="search()">
          <span class="glyphicon glyphicon-search"></span>
        </button>

        <button class="btn btn-primary " >
          <span class="align-middle glyphicon glyphicon-download-alt" (click)="downlloadfiles()" ></span>
        </button>
        <button class="btn btn-danger " >
          <span class="align-middle glyphicon glyphicon-trash " (click)="removefiles()"></span>
        </button>
        <button class="btn btn-warning " >
          <span class="align-middle glyphicon glyphicon-facetime-video" (click)="encodefiles()"></span>
        </button>
        <!--<button class="btn btn-info " >
          <span class="align-middle glyphicon glyphicon-headphones" (click)="encodeMp3file()"></span>
        </button>-->
        <button class="btn btn-primary " >
        <input type="checkbox" class="align-middle form-check-input" id="checkAll" [(ngModel)]="searchModel.allChecked" (ngModelChange)="checkAll(searchModel.allChecked)">
        </button>
      </div>


    </div>
    <div class="col-lg-2 or-col-lg-2 col-md-3 mb-2 ">

    </div>

  </div>
  <div class="row">

    <div class="col-lg-4 or-col-lg-4 col-md-6 mb-4 " *ngFor="let fileitem of filelist; let i = index">
      <div class="card  card-cascade wider" >
        <div class="card-body">

          <div class="listprogress" style="margin-bottom: 0;">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': fileitem.progress + '%' }"></div>
          </div>
          <div class="content-flex" >
            <div class="img-container">
<!--              <a href="{{ thumnailUrlRoot}}/videos/{{fileitem.filepath}}" >-->
                <img src="{{ thumnailUrlRoot+'/'+ fileitem.filepath + '.png'}}" (click)="linkloadfile(fileitem)">
<!--              </a>-->
            </div>
            <div class="video-desc">

              <p class="card-text mr-2 ml-2">
                <span class="video-title">
               {{ fileitem.originalname }}</span><br>
                <!--<span><b>{{ fileitem.originalname | limitTo: 22 }}</b><br></span>-->


              <button class="btn btn-primary btn-sm" >
                <i class="glyphicon glyphicon-download-alt" (click)="downlloadfile(fileitem)" ></i>
              </button>
              <button class="btn btn-danger btn-sm" >
                <i class="glyphicon glyphicon-trash" (click)="removefile(fileitem)"></i>
              </button>
              <button class="btn btn-warning btn-sm" >
                <i class="glyphicon glyphicon-facetime-video" (click)="encodefile(fileitem)"></i>
              </button>
              <button class="btn btn-info btn-sm" >
                <i class="glyphicon glyphicon-headphones" (click)="encodeMp3file(fileitem)"></i>
              </button>
              <button class="btn btn-primary btn-sm" >
                <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="fileitem.checked" >
              </button>

            </div>

          </div>
          <div class="listprogress" style="margin-bottom: 0;">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': fileitem.progress + '%' }"></div>
          </div>



        </div>
      </div>

    </div>
  </div>
</div>
<!--<div class="loader" *ngIf="loader===true"></div>-->
<!--<app-smart-playlist ></app-smart-playlist>-->
