<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div>
    <label>id: </label>

      <input [disabled]="!hero.editable" [(ngModel)]="hero.id" placeholder="id" />
  </div>
  <div>
    <label>name: </label>
    <input [disabled]="!hero.editable" [(ngModel)]="hero.name" placeholder="name" />
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()" *ngIf="hero.editable">Save</button>

  <button (click)="feedbacktoParent(feedbackText)">FeedBacktoParent</button>
  <input [(ngModel)]="feedbackText" placeholder="name" />

</div>
