<h1>Accordion</h1>
<app-item *ngFor="let item of list" [item]="item"></app-item>

<!--<ul>
<li *ngFor="let sueprHero of superHeroList" >{{sueprHero.name}}</li>
</ul>-->

<input type="text" (keyup)="observerbleOnKeyUp($event)" />

<button (click)="observeTest()">observerTest</button>
<button (click)="stopAllsubscribe()">stopAllsubscribe</button>
<button (click)="addSubscribe()">addSubscribe</button>

<button (click)="changeValStatus()">observerTestchangeValStatus</button>
<button (click)="ObsavleTest($event)">Obserable Test</button>

<button (click)="observerbleReduce()">Obserable Test observerbleReduce</button>
<button (click)="observerbleScan()">Obserable Test observerbleScan</button>


<button (click)="observerbleCreateTest()">observerbleCreateTest</button>

<button (click)="observerbleIntercalTest()">observerbleIntercalTest</button>
<button (click)="observerbleIntercalTestStop()">observerbleIntercalTestStop</button>









{{re}}


